<div class="banner">
  <div class="row">
    <div class="container">
      <h1>Nos meilleurs entreprises près de <%= params[:zip_code] %> </h1>
      <div class="cards">
          <%= render"shared/card_pro", array: @users %>
      </div>
    </div>
  </div>
</div>

