

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Nos meilleures entreprises près de <%= params[:zip_code] %> </h1>
    </div>
      <%= render"shared/card_pro", array: @users.sort_by{|user| user.first_free_slot} %>
  </div>
</div>

