// Define variables for your color scheme

// For example:
$red:               #FD1015;
$blue:              #167FFB;
$yellow:            #FFC65A;
$orange:            #E67E22;
$green:             #1EDD88;
$gray:              #0E0000;
$light-gray:        #F4F4F4;

$green-fix-it:      #52A490;
$blue-fix-it:       #aaf8e5;
$blue-fix-it-text:  #6FF6D5;
$red-fix-it:        #D34E4E;
$orange-fix-it:     #EBB044;
