.title-banner {
  color: $green-fix-it;
  text-align: justify;
  font-family: 'Roboto';
  font: regular 44px;
  text-align: right;
  margin-top: 200px;
}

.p-form-home{
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: $blue-fix-it;
  padding-bottom: 2px;
  font-weight: bold;
}
