<div id="card-info">
  <div class="infos">
    <div class="title text-center">
      Nom de l'entreprise
    </div>
    <div class="card-info-item info text-center">
      Vos infos
    </div>
    <div class="green-bar"></div>

    <div class="card-info-item text-center">
      Votre marque
    </div>
    <div class="green-bar"></div>

    <div class="card-info-item text-center">
      Votre modele
    </div>

    <div class="green-bar"></div>

    <div class="card-info-item rdv text-center">
      Rendez vous le 03/02/2019
    </div>
  </div>
</div>
