<div class="d-flex justify-content-around align-items-center">
  <div class="chat-with">Chat with <%= entreprise %></div>
</div>
<div class="d-flex justify-content-around">
  <div class="green-bar pt-1"></div>
</div>
