<%= simple_form_for [@user, @message], html: { class: "w-100"} do |f| %>
  <div class="form-row">
    <div class="col-11 form-group">
      <%= f.input :content, html: { class: "input-chat"}, label: false, autofocus: true %>
    </div>
    <div class="col-1 form-group">
      <%= f.submit "", class: "btn-chat" %>
    </div>
  </div>
<% end %>
