<div id="progress-bar" class="d-flex justify-content-center align-items-center">
    <i class="fas fa-paper-plane plane"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-check-circle circle"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-minus minus"></i>
    <i class="far fa-calendar-check calendar"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-truck truck"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-minus minus"></i>
    <i class="fas fa-thumbs-up like pb-4"></i>
</div>
