<div id="progress-bar" class="d-flex justify-content-center align-items-center">
  <% ["fa-paper-plane plane", "fa-check-circle circle-green", "fa-calendar-check calendar", "fa-truck truck"].each_with_index do |toto, index| %>
    <i class="fas <%= "fa-color" if index %> <%= toto %>"></i>
    <% 3.times do  %>
      <i class="fas fa-minus minus"></i>
    <% end %>
  <% end %>
  <i class="fas fa-thumbs-up like pb-4"></i>
</div>
