<div class="review-card">
  <div class="h-100 text-center d-flex flex-column justify-content-center">
    <div>
      <h4>Merci pour votre commentaire !</h4>
    </div>
    <div>
      <h4>A bientôt sur Fix-it</h4>
    </div>
  </div>
</div>

