<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- TITLE -->
      <div id="title" class="text-center my-3">
        <h1>L’entreprise prend en charge votre intervention</h1>
      </div>
      <!-- PROGRESS BAR -->
      <%= render 'progress_bar' %>
    </div>
    <div class="col-4">
      <!-- CARD INFO BOOKING -->
      <%= render 'card_info' %>
    </div>
    <div class="col-8">
      <!-- CHATBOX  -->
      <%= render 'chatbox' %>
    </div>
  </div>
</div>
