<!-- HOME  SCREEN-->
<div class="banner-home">
  <div class="container-fluid">
     <div class="row p-155">
        <!-- SEARCH FORM-->
        <div class= "banner-form col-lg-5 p-150 ml-auto">
          <div><p class="p-form-home">Où est votre problème?</p>
            <%= simple_form_for "", url: profiles_path, method: :get do |f| %>
              <%= f.input :zip_code,
                          as: :string,
                          required: true,
                          label: false,
                          placeholder: "59180",
                          input_html: {class: "input input-home"} %><p class="p-form-home">Quel est votre modèle?</p>
              <%= f.input :model,
                          required: false,
                          label: false,
                          collection: ["Frisquet", "Viessmann", "Atlantic", "Weishaupt", "Vergne"],
                          input_html: {class: "input input-home
                            styled-select"} %>
              <%= submit_tag "Trouver votre professionnel", name: nil, class: "btn-green input-home" %>
            <% end %>
          </div>
        </div>
    <!-- TITLE -->
    <div class= "col-lg-7 ml-auto">
      <h1 class="title-banner">Pour les urgences, un dépannage serein, avec un rendez-vous sous 24 heures.</h1>
    </div>
  </div>
</div>
