<!-- HOME  SCREEN-->
<div class="banner container-fluid">
  <div class="row">

    <!-- TITLE -->

    <h1 class="title-banner col-12 col-sm-9 col-md-6">Pour les urgences, un dépannage serein, avec un rendez-vous sous 24 heures.</h1>

 <!-- SEARCH FORM-->
    <div class= "banner-form col-12 col-sm-9 col-md-3">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-9 col-md-6"><p class="p-form-home">Où est votre problème?</p>
            <%= simple_form_for "query", url: profiles_path, method: :get do |f| %>
              <%= f.input :zip_code,
                          as: :string,
                          required: true,
                          label: false,
                          placeholder: "59180",
                          input_html: {class: "input input-home"} %><p class="p-form-home">Quel est votre modèle?</p>
              <%= f.input :model,
                          required: false,
                          label: false,
                          collection: ["Frisquet", "Viessmann", "Atlantic", "Weishaupt", "Vergne"],
                          input_html: {class: "input input-home"} %>
              <%= submit_tag "Trouver votre professionnel", name: nil, id:"button-home", class: "btn-green input-home" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
