.avatar-pro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: #52A490 6px solid;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  object-fit: cover;
}

.avatar-pro-dashboard {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: #52A490 6px solid;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  position: absolute;
  top: -80px;
  left: 30%;
  right: 30%
}

.avatar-perso {
  width: 66px;
  height: 65px;
  border-radius: 50%;
  border: #52A490 4px solid;
}

.avatar-entreprise {
  width: 152.5;
  height: 150px;
  border-radius: 50%;
  border: #BDBDBD 1px solid;
}
