
.banner {
  background-image:    asset-url('reparateur.png');
  background-size:     cover;
  background-position: center;
  padding:             0 0 200px 0;
  height:              100%;
}

.banner-form {
  display:          flex;
  font-family:      'Roboto';
  color:            $green-fix-it;
  font:             28px bold;
  justify-content:  center;
  align-items:      center;
  background-image: asset-url('homeform.png');
  background-size:  cover;
  width:            400px;
  height:           500px;
  padding-bottom:   10px;
  padding-top:      55px;
}
