
.banner-home {
  background-image:    asset-url('reparateur.png');
  background-size:     cover;
  background-position: center;
  padding:             0 0 200px 0;
  margin-bottom:       20px;
  height:              100vh;
  position:            relative;
}

.banner {
  background-image:    asset-url('reparateur.png');
  background-size:     cover;
  background-position: center;
  padding:             0 0 200px 0;
  margin-bottom:       20px;
  height:              150vh;
  position:            relative;
}

.banner-form {
  display:          flex;
  color:            $green-fix-it;
  font:             28px bold;
  justify-content:  center;
  align-items:      center;
  background-image: asset-url('homeform.png');
  position:         absolute;
  background-size:  cover;
  left:             115px;
  top:              64px;
  width:            483px;
  height:           539px;
  padding-bottom:   10px;
  padding-top:      40px;
}
