.booking-form {
  background-color: #ffffff;
  border-radius:    4px;
  padding:          32px;
  margin-left:      40px;
  margin-right:     40px;
  color:            #3B455A;

  width:            441px !important;

  box-shadow:       0 16px 40px rgba(0,0,0,0.12) !important;
  &:hover {
    box-shadow:     0 16px 40px rgba(0,0,0,0.14) !important;
  }

  h3 {
    color: #3B455A;
  }
}


.booking-form-show {
  background-color: #ffffff;
  border-radius:    15px;
  padding:          32px;
  margin-left:      40px;
  margin-right:     40px;
  color:            #3B455A;

  width:            441px !important;

  box-shadow:       0 16px 40px rgba(0,0,0,0.12) !important;
  &:hover {
    box-shadow:     0 16px 40px rgba(0,0,0,0.14) !important;
  }

  h3 {
    color: #3B455A;
  }
}
