
.btn-red {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  color: $red-fix-it !important;
  border-radius: 10px;
  background-color: white !important;
  border: 3px solid $red-fix-it;
  // box-shadow: 0px 10px 15px rgba(230,230,230, 1);
  text-decoration: none;
  outline: none;
  width: 100%;
}

.btn-red:hover {
  background-color: $red-fix-it !important;
  color: white !important;
  border: solid 3px $red-fix-it;
  border-radius: 10px;
  // box-shadow: 0px 10px 15px rgba(230,230,230, 1);
  text-decoration: none;
  outline: none;
}

#D34E4E

.btn-orange {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 24px;
  color: white;
  border-radius: 5px;
  background-color: $orange-fix-it;
  box-shadow: 0px 10px 15px rgba(230,230,230, 1);
}

.btn-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  width: 490px;
  height: 66px;
  border-radius: 5px;
  background-color: #52A490;
  box-shadow: 0px 10px 15px rgba(230,230,230, 1);
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  width: 490px;
  height: 66px;
  border-radius: 5px;
  background-color: #52A490;
  box-shadow: 0px 10px 15px rgba(230,230,230, 1);
}

.btn-chat {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 40px;

  margin-right: 20px;

  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0,0,0, 0.3);

  background-image: asset-url("send.svg");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-resume {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  width: 211px;
  height: 64px;
  border-radius: 5px;
  background-color: #52A490;
  box-shadow: 0px 10px 15px rgba(230,230,230, 1);
}
