.btn-home {
  font-weight: bold;
  font-size: 24px;
  color: white;
  width: 376px;
  height:62px;
  border-radius: 5px;
  color-background: #52A490;
  box-shadow: 0px 10px 10px, rgba(0,0,0,1);
}

.btn-card-show {
  font-weight: bold;
  font-size: 24px;
  color: white;
  font-weight: bold;
  width: 176px;
  height:86px;
  border-radius: 5px;
  color-background: #52A490;
  box-shadow: 0px 10px 10px, rgba(0,0,0,1);

}

.btn-form-book {
  font-weight: bold;
  font-size: 24px;
  color: white;
  width: 211px;
  height: 64px;
  border-radius: 5px;
  color-background: #52A490;
  box-shadow: 0px 10px 10px, rgba(0,0,0,1);
}


.btn-form-signup {
  font-weight: bold;
  font-size: 24px;
  color: white;
  width: 211px;
  height: 64px;
  border-radius: 5px;
  color-background: #52A490;
  box-shadow: 0px 10px 10px, rgba(0,0,0,1);
}

.btn-facebook {
  font-weight: bold;
  font-size: 24px;
  color: white;
  width: 490px;
  height: 66px;
  border-radius: 5px;
  color-background: #52A490;
  box-shadow: 0px 10px 10px, rgba(0,0,0,1);
}

.btn-google {
  font-weight: bold;
  font-size: 24px;
  color: white;
  width: 490px;
  height: 66px;
  border-radius: 5px;
  color-background: #52A490;
  box-shadow: 0px 10px 10px, rgba(0,0,0,1);
}

.btn-chat {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  color-background: white;
  box-shadow: 0px 10px 10px, rgba(0,0,0,1);


.btn-resume {
  font-weight: bold;
  font-size: 24px;
  color: white;
  width: 211px;
  height: 64px;
  border-radius: 5px;
  color-background: #52A490;
  box-shadow: 0px 10px 10px, rgba(0,0,0,1);
}
