
.card-pro {
  color:           white;
  background-color:white;
  font-weight:     bold;
  border-radius:   5px;
  width: 90%;
  margin-top: 90px;

  box-shadow: 0px 0px 15px rgba(20,20,20, 0.2);
  &:hover {
    box-shadow: 0px 0px 15px rgba(20,20,20,0.3);
  }

  .top {
    height:          320px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  .bottom {
    height:          60px;
  }


}

.top .card-pro-name {
  font-size: 24px;
  color: #2F4F4F;
  margin-top: 100px;
}

.top .btn-green {
  margin-top: 40px;
  max-width: 65%;
  font-size: 18px;
}

.top .avatar-pro {
  position: absolute;
  top: -80px;
}

.card-pro .stars {
  font-size: 18px;
  font-weight: lighter;
  color: #E6BE2E;
}

.card-pro .stars p {
  color: #2F4F4F;
  font-size: 21px;
  font-weight: lighter;
}

.card-pro  .card-pro-number-bookings {
  color: #2F4F4F;
  font-size: 18px;
  font-weight: lighter;
}

.separating-line-card-pro {
  border-right: 1px solid $green-fix-it;
  height: 50px;
}
