

.card-pro {
  color:            white;
  background-color: white;
  font-weight:      bold;
  border-radius:    20px;
  margin-top:       90px;
  width:            300px;
  margin-bottom:    30px;

  box-shadow:       0 16px 40px rgba(0,0,0,0.14) !important;
  &:hover {
    box-shadow:     0 16px 40px rgba(0,0,0,0.20) !important;
  }

  .top {
    display:        flex;
    flex-direction: column;
    position:       relative;
    align-items:    center;
    margin-bottom:  30px;
    padding-bottom: 20px;
    border-radius:  20px 20px 0 0;

    .lightning {
      position: absolute;
      top: 25px;
      right: 25px;
      font-size: 40px;
      animation: animationlight 4s linear alternate infinite;
    }
  }

  @keyframes animationlight {
    from {
      color: $blue-fix-it;
    }

    50% {
      color: white;
    }

    to {
      color: $blue-fix-it;
    }
  }

  .lightning {
      font-size: 30px;
  }


  .bottom {
    // height:          60px;
    border-top: 2px solid $blue-fix-it;
  }


  .btn-red {
    width: 100%;
    font-size: 16px;
  }
}

.dashboard .card-pro {
  margin-top:       0px;
}

.card-content {
  color: black;
}

.top .card-pro-name {
  font-size:  24px;
  color:      white;
  margin-top: 100px;
}

.top .btn-green {
  margin-top: 40px;
  max-width: 65%;
  font-size: 18px;
}

.top .avatar-pro {
  position: absolute;
  top: -80px;
}

.card-pro .stars {
  font-size: 18px;
  font-weight: lighter;
  color: #E6BE2E;
}

.card-pro .stars p {
  color: #2F4F4F;
  font-size: 21px;
  font-weight: lighter;
}

.card-pro  .card-pro-number-bookings {
  color: #2F4F4F;
  font-size: 18px;
  font-weight: lighter;
}

.separating-line-card-pro {
  border-right: 1px solid $green-fix-it;
  height: 50px;
}
