#chatbox {
  background-color: white;
  border-radius:    15px;
  box-shadow:       0 16px 40px rgba(0,0,0,0.14) !important;
  display:          flex;
  flex-direction:   column;
  height:           420px;

  .title {
    width: 100%;
    flex-grow: 1;
    font-size: 20px;
    border-radius: 15px 15px 0 0;
  }

  .chat {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-radius: 0 0 15px 15px;
    min-height: 60px;
    max-height: 60px;
  }
}

.chat-with {
  margin-top: 10px;
  margin-bottom: -10px
}




