form-casual {
  background-color: white;
}


textarea.form-control {
  height: 40px;
  display:flex;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0,0,0, 0.3);
  color: $blue-fix-it;
  resize: none;
  border-radius: 5px;


  &:focus {
    color: $blue-fix-it;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.4);
  }

}

.border-blue {
  border-color: $blue-fix-it !important;
}

.form-control:focus {
  outline: none !important;
  border-color: $blue-fix-it !important;
  box-shadow: none;
}


.form-row {
  margin-right: 5px;
  margin-left: 5px;
}

.form-group {
  margin-bottom: 0px;
}
