form-casual {
  background-color: white;
}

#message_content {
  height: 40px;
  display:flex;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0,0,0, 0.1);
  color: $green-card;
  resize: none;
  border-radius: 5px;

  &:focus {
    color: $green-card;
    box-shadow: 0px 5px 5px rgba(0,0,0, 0.12);
  }
}

.border-blue {
  border-color: $blue-fix-it !important;
}

.form-control:focus {
  outline: none !important;
  border-color: $green-card !important;
  box-shadow: none;
}


.form-row {
  margin-right: 5px;
  margin-left: 5px;
}

.form-group {
  margin-bottom: 0px;
}
