input {
  outline: none;
}

.form-control:focus {
  outline: none !important;
  border-color: $green-fix-it !important;
  box-shadow: none;
}

.input-home {
  height:60px;
  background-color: white;
  border: 1.5px solid $green-fix-it;
  border-radius: 5px;
  text-align: center;
  text-color: yellow;
  font-weight: bold;
  font-size: 28px;
  color: $green-fix-it;
}

.input-show-form {
  height:60px;
  background-color: white;
  border: 1.5px solid $green-fix-it;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  color: $green-fix-it;
}

.input-signup-long-join-us {
  height:85px;
  background-color: white;
  border: 1px solid $green-fix-it;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 0 0 2.5px #000000;
  font-size: 24px;
  color: $green-fix-it;
}

.input-signup-short {
  height:70px;
  background-color: white;
  border: 1px solid $green-fix-it;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 0 0 2.5px #000000;
  font-size: 24px;
  color: $green-fix-it;
}

.input-signup-long {
  height:60px;
  background-color: white;
  border: 1px solid $green-fix-it;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 0 0 2.5px #000000;
  font-size: 24px;
  color: $green-fix-it;
}

.input-chat {
  height:60px;
  border: 1px solid white;
  border-radius: 10px;
  text-color: #2F80ED;
  box-shadow:  0 5px 0 0 #808080;
  text-align: center;
  color: #2F80ED;
  outline: none;
}
