.input-home {
  max-width: 375px;
  max-height:70px;
  background-color: white;
  border-color: #52A490;
  border-radius: 5px;
  text-align: center;
}

.input-show-form {
  max-width: 355px;
  max-height:60px;
  background-color: white;
  border-color: #52A490;
  border-radius: 5px;
  text-align: center;
}

.input-signup-long-join-us {
  max-width: 630px;
  max-height:85px;
  background-color: white;
  border-color: #52A490;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 1px #000;
}

.input-signup-short {
  max-width: 300px;
  max-height:70px;
  background-color: white;
  border-color: #52A490;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 1px #000;
}

.input-signup-long {
  max-width: 630px;
  max-height:60px;
  background-color: white;
  border-color: #52A490;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 1px #000;
}

.input-signup-long {
  max-width: 580px;
  max-height:60px;
  background-color: white;
  border-radius: 10px;
  text-color: #2F80ED;
  box-shadow: 10px 0 0 0 #000;
}
