.navbar-fix-it {
  justify-content: space-between;
  background: $blue-background;
  // overflow: auto;
}

.navbar-light .navbar-brand {
  color: $green-card;
}

.navbar-fix-it .navbar-collapse {
  flex-grow: 0;
}

.navbar-fix-it .navbar-brand img {
  width: 40px;
  color: $green-card;
}

.navbar-light .navbar-nav .nav-link {
  color: $green-card;

  &:hover {
    color: white;
    opacity: 0.9
  }
}

.transparent {
  background-color: rgba(0,0,0,0.0);
}
