#progress-bar {
  font-size: 70px;
  color: #CBCBCB;
  margin-bottom: 20px;
  .plane {
  }

  .circle {

  }

  .calendar {

  }

  .truck {

  }

  .like {

  }

  .minus {
    font-size: 40px;
    margin: 0 10px;
  }

}
